/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.jumbotron{
  padding: 0px;
}


.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Empty. Add your own CSS if you like */

body, p, div{
  color: black !important;
}


#title {
  width: 300px;
  text-align: right;
  float: right;
}
#control {
  width: 400px;

}
#message {
  font-family: Verdana;
  text-align: left;
  position: absolute;
  top:500px;
}
#playPauseContainer {
  float: left;
  width: 70px;
}

.pause {
  margin-left: 5px;
  width: 20px;
  height: 50px;
  border-left: 10px solid #FFFFFF;
  border-right: 10px solid #FFFFFF;
  line-height: 50px;
}

.play {
  width: 0px;
  height: 0px;
  border-left: 50px solid black;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  font-size: 0;
  line-height: 0;
}

#playPause{
  z-index: 10;
  position: fixed;
  left: 0;
  top: 400px;

}
#tunerViewContainer {
  position: relative;
  width:100%;
  background: white;
  text-align: center;
}

#tunerView {
  margin: 0 auto;
  position: relative;
  height: 500px;
  width: 400px;
}

.tipNormal {
  margin: 0 auto;
  width: 4px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid black;
  font-size: 0;
  line-height: 0;
}

.tip {
  margin: 0 auto;
  width: 4px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid red;
}

.tick_0_normal {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 8px;
  height: 160px;
  -webkit-transform-origin: 50% 400px;
  -webkit-transform: rotate(0);
  -moz-transform-origin: 50% 400px;
  -moz-transform: rotate(0);
  background: black;
}

.tick_0_highlighted {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 8px;
  height: 160px;
  -webkit-transform-origin: 50% 400px;
  -webkit-transform: rotate(0);
  -moz-transform-origin: 50% 400px;
  -moz-transform: rotate(0);
  
  border: 1px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);

}

.tickHighlighted{
  background-color:red;
  opacity:0.8;
  border-color: red !important;
  box-shadow: 0 0 10px red;
}

.tick_0Highlighted{
  background-color:green;
  opacity:0.8;
  border-color: green !important;
  box-shadow: 0 0 10px green;
}


#tick_0 {
  top: 45px;
  left: 198px;
  position: absolute;
  width: 8px;
  height: 160px;
  -webkit-transform-origin: 50% 400px;
  -webkit-transform: rotate(0);
  -moz-transform-origin: 50% 400px;
  -moz-transform: rotate(0);

  display: inline-block;
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_1 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 115px;
  -webkit-transform: translate(30px, 40px);
  transform: translate(30px, 40px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_-1 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 115px;
  -webkit-transform: translate(-30px, 40px);
  transform: translate(-30px, 40px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_2 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 100px;
  -webkit-transform: translate(60px, 55px);
  transform: translate(60px, 55px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_-2 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 100px;
  -webkit-transform: translate(-60px, 55px);
  transform: translate(-60px, 55px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_3 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 85px;
  -webkit-transform: translate(90px, 70px);
  transform: translate(90px, 70px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_-3 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 85px;
  -webkit-transform: translate(-90px, 70px);
  transform: translate(-90px, 70px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_4 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 70px;
  -webkit-transform: translate(120px, 85px);
  transform: translate(120px, 85px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_-4 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 70px;
  -webkit-transform: translate(-120px, 85px);
  transform: translate(-120px, 85px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_5 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 55px;
  -webkit-transform: translate(150px, 100px);
  transform: translate(150px, 100px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_-5 {
    top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 55px;
  -webkit-transform: translate(-150px, 100px);
  transform: translate(-150px, 100px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_6 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 40px;
  -webkit-transform: translate(180px, 115px);
  transform: translate(180px, 115px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_-6 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 40px;
  -webkit-transform: translate(-180px, 115px);
  transform: translate(-180px, 115px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_7 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 25px;
  -webkit-transform: translate(210px, 130px);
  transform: translate(210px, 130px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_-7 {
  top: 50px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 25px;
  -webkit-transform: translate(-210px, 130px);
  transform: translate(-210px, 130px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#needle2 {
  margin: 0 auto;
  top: 95px;
  position: relative;
  width: 3px;
  height:200px;
  border-width: 65px 2px 0;
  border-style: solid;
  border-color: black;
  -webkit-transform-origin: 50% 305px;
  -moz-transform-origin: 50% 305px;
  -ms-transform-origin: 50% 305px;
  -o-transform-origin: 50% 305px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
}

#needle2:before {
  content: "";
  position: absolute;
  top: -95px;
  left: -4px;
  border-width: 0 4px 35px;
  border-style: solid;
  border-color: transparent transparent black;
}
#noteView {
  font-family: Verdana;
  left: 0px;
  width: 200px;
  height: 400px;
  text-align: left;
  display: table-cell;
  vertical-align: bottom;
  position: absolute;
  font-size: 150px;
  color: black;
}
.sharp {
  font-family: 'Digital W00';
  font-size: 60px;
  left:20px;
  background-color:red;
  margin-top:5px;
}

#spectrumWrapper{
  /*border: 2px solid black;*/
  height: 300px;
  width: 700px;
  position: relative;
  text-align: center;
}
#stapleWrapper{

  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  width:  16px;
  height: 200px;
}

#sp_0, #sp_1, #sp_2, #sp_3,
#sp_4, #sp_5, #sp_6 ,
#sp_7, #sp_8, #sp_9 ,
#sp_10, #sp_11, #sp_12 ,
#sp_13, #sp_14, #sp_15 ,
#sp_16, #sp_17, #sp_18 ,
#sp_19, #sp_20,
#sp_21,
#sp_22,
#sp_23,
#sp_24,
#sp_25,
#sp_26,
#sp_27,
#sp_28,
#sp_29,
#sp_30,
#sp_31,
#sp_32,
#sp_33,
#sp_34,
#sp_35,
#sp_36,
#sp_37,
#sp_38,
#sp_39{
  width: 14px;
  border: 1px solid black;
  bottom: 0;
  position: absolute;
  background: green;
}
#stapleInDir{
  width: 14px;
  border: 1px solid black;
  bottom: 0;
  position: absolute;
  background: green;
}