/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color:#333;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.jumbotron{
  padding: 0px;
}


.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* Empty. Add your own CSS if you like */
body, p, div{
  color: #ccc !important;
}
.text-muted{color:#ccc !important;}

#title {
  width: 300px;
  text-align: right;
  float: right;
}
#control {
  
  width:400px;
}
#message {
  font-family: Verdana;
  text-align: left;
  position: absolute;
  top:500px;
}
#playPauseContainer {

  width: 70px;
}

.pause {
  margin-left: 5px;
  width: 20px;
  height: 31px;
  border-left: 6px solid #FFFFFF;
  border-right: 6px solid #FFFFFF;
  line-height: 50px;
}

.play {
  border-left: 30px solid white;
  border-top: 16px solid transparent;
  border-bottom: 16px solid transparent;
  font-size: 0;
}

#playPause{
  z-index: 10;
  position: relative;
  left: 5px;
  top: 380px;
  display:none;
}
#tunerViewContainer {
  position: relative;
  width:100%;
  background-color:#333;
  border-radius:10px;
  min-width:430px;
}

#noteViewContainer{
  margin: 0 auto; 
  position:relative;
  height:80px; 
  width:150px;
}

#tuneArrowLeft{
    left:10px; 
    top:40px;
    width:30px; 
    height:20px; 
    position:relative;
    margin: 0 auto; 
    float:left;

    border-left: 20px solid white;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    font-size: 0;

}

#tuneArrowRight{

    left:60px; 
    top:40px; 
    width:30px; 
    height:20px; 
    position:relative; 
    margin: 0 auto;

    border-right: 20px solid white;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    font-size: 0;
}

.tuneArrowLeft_ok{

    border-left: 20px solid #66cc33 !important;
    border-top: 12px solid transparent !important;
    border-bottom: 12px solid transparent !important;
}

.tuneArrowRight_ok{

    border-right: 20px solid #66cc33 !important;
    border-top: 12px solid transparent !important;
    border-bottom: 12px solid transparent !important;

}

.tuneArrowLeft_wrong{

    border-left: 20px solid rgba(255, 0, 0, 0.7) !important;
    border-top: 12px solid transparent !important;
    border-bottom: 12px solid transparent !important;

}

.tuneArrowRight_wrong{
    border-right: 20px solid rgba(255, 0, 0, 0.7) !important;
    border-top: 12px solid transparent !important;
    border-bottom: 12px solid transparent !important;
}

#noteView {
  float:left;
  font-family: Verdana;
  width: 120px;
  height: 80px;
  text-align: left;
  position: relative;
  font-size: 5.0em;
  color:#ccc !important;
  left:23px;
}

#tunerView {
  margin: 0 auto;
  position: relative;
  height: 250px;
  width: 400px;
}

.tipNormal {
  margin: 0 auto;
  width: 4px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid black;
  font-size: 0;
  line-height: 0;
}

.tip {
  margin: 0 auto;
  width: 4px;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid red;
}

.tick_0_normal {
  opacity:0.8;
  border-color: #ccc !important;
}

.tickHighlighted{
  background-color:red !important;
  opacity:0.8;
  border-color: red !important;
  box-shadow: 0 0 10px red;

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.tick_0Highlighted{
  background-color:#66cc33 !important;
  opacity:0.8;
  border-color: #66cc33 !important;
  box-shadow: 0 0 10px #66cc33;
}

#tick_0 {
  top: 25px;
  left: 198px;
  position: absolute;
  width: 8px;
  height: 160px;

  display: inline-block;
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  background-color:#ccc;
  border-radius: 3px;
}

#tick_1 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 115px;
  -webkit-transform: translate(30px, 20px);
  transform: translate(30px, 20px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_-1 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 115px;
  -webkit-transform: translate(-30px, 20px);
  transform: translate(-30px, 20px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_2 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 100px;
  -webkit-transform: translate(60px, 27.5px);
  transform: translate(60px, 27.5px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_-2 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 100px;
  -webkit-transform: translate(-60px, 27.5px);
  transform: translate(-60px, 27.5px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_3 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 85px;
  -webkit-transform: translate(90px, 35px);
  transform: translate(90px, 35px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_-3 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 85px;
  -webkit-transform: translate(-90px, 35px);
  transform: translate(-90px, 35px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

#tick_4 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 70px;
  -webkit-transform: translate(120px, 42.5px);
  transform: translate(120px, 42.5px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_-4 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 70px;
  -webkit-transform: translate(-120px, 42.5px);
  transform: translate(-120px, 42.5px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_5 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 55px;
  -webkit-transform: translate(150px, 50px);
  transform: translate(150px, 50px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_-5 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 55px;
  -webkit-transform: translate(-150px, 50px);
  transform: translate(-150px, 50px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_6 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 40px;
  -webkit-transform: translate(180px, 57.5px);
  transform: translate(180px, 57.5px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_-6 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 40px;
  -webkit-transform: translate(-180px, 57.5px);
  transform: translate(-180px, 57.5px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_7 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 25px;
  -webkit-transform: translate(210px, 65px);
  transform: translate(210px, 65px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#tick_-7 {
  background-color:#ccc;
  top: 30px;
  left: 198px;
  position: absolute;
  width: 4px;
  height: 25px;
  -webkit-transform: translate(-210px, 65px);
  transform: translate(-210px, 65px);

  display: inline-block;
  padding: 4px;
  margin: 0;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}
#needle2 {
  
  display:none;
  top: 35px;
  left: 198px;
  position: absolute;
  width: 8px;
  height: 160px;
  -moz-transform-origin: 50% 400px;

  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  
  padding: 4px;
  margin: 0;
  border: 1px solid black;
  z-index:1;
  border-radius: 3px;
}


.sharp {
  font-family: 'Verdana';
  font-size: 0.3em;
  margin-top:20px;
}

#spectrumWrapper{
  /*border: 2px solid black;*/
  height: 300px;
  width: 700px;
  position: relative;
  text-align: center;

}
#stapleWrapper{

  top:100px;
  position: relative;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  width:  16px;
  height: 200px;
}

#sp_0, #sp_1, #sp_2, #sp_3,
#sp_4, #sp_5, #sp_6 ,
#sp_7, #sp_8, #sp_9 ,
#sp_10, #sp_11, #sp_12 ,
#sp_13, #sp_14, #sp_15 ,
#sp_16, #sp_17, #sp_18 ,
#sp_19, #sp_20,
#sp_21,
#sp_22,
#sp_23,
#sp_24,
#sp_25,
#sp_26,
#sp_27,
#sp_28,
#sp_29,
#sp_30,
#sp_31,
#sp_32,
#sp_33,
#sp_34,
#sp_35,
#sp_36,
#sp_37,
#sp_38,
#sp_39{
  width: 12px;
  border: 1px solid white;
  bottom: 0;
  position: absolute;

  border-radius: 3px;
  background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, blue); /* Standard syntax */
}
#stapleInDir{
  border-radius: 3px;
  width: 12px;
  border: 1px solid black;
  bottom: 0;
  position: absolute;
  background: -webkit-linear-gradient(#86ff49, green); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#86ff49, #095f00); /* Standard syntax */
}