<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>

<div id="control">
  <div id="playPauseContainer">
    <div id="playPause" ng-class="{true:'play', false:'pause'}[playing==true]" ng-click="playPause()">  
    </div>
  </div>
</div>

<div id="message">Timeout: {{timer}}</div> 



  <div id="tunerViewContainer">
    <div id="tunerView">
      <div id="tip" class="tipNormal"></div>
      <div id="needle2" style="-webkit-transform: rotate(13.2790170090498deg);"></div>
      <div id="noteView">E</div>
      <div id = "tick_0" class="tick_0_normal"></div>
      <div id="tick_1"></div><div id="tick_-1"></div><div id="tick_2"></div><div id="tick_-2"></div><div id="tick_3"></div><div id="tick_-3"></div><div id="tick_4"></div><div id="tick_-4"></div><div id="tick_5"></div><div id="tick_-5"></div><div id="tick_6"></div><div id="tick_-6"></div><div id="tick_7"></div><div id="tick_-7"></div><div id="tick_8"></div><div id="tick_-8"></div><div id="tick_9"></div><div id="tick_-9"></div><div id="tick_10"></div><div id="tick_-10"></div>
    </div>
  </div>

