<div class="jumbotron">
  <h1>GUITAR TUNER 3.0</h1>

<div id="control">
  <div id="playPauseContainer">
    <div id="playPause" ng-class="{true:'play', false:'pause'}[playing==true]" ng-click="playPause()">  
    </div>
  </div>
</div>

<div id="message">Timeout: {{timer}}</div> 



  <div id="tunerViewContainer">
    <div id="tunerView">
      <div id="tip" class="tipNormal"></div>
      <div id="needle2" style="-webkit-transform: rotate(13.2790170090498deg);"></div>
      <div id="noteView">E</div>
      <div id = "tick_0" class="tick_0_normal"></div>
      <div id="tick_1"></div><div id="tick_-1"></div><div id="tick_2"></div><div id="tick_-2"></div><div id="tick_3"></div><div id="tick_-3"></div><div id="tick_4"></div><div id="tick_-4"></div><div id="tick_5"></div><div id="tick_-5"></div><div id="tick_6"></div><div id="tick_-6"></div><div id="tick_7"></div><div id="tick_-7"></div><div id="tick_8"></div><div id="tick_-8"></div><div id="tick_9"></div><div id="tick_-9"></div><div id="tick_10"></div><div id="tick_-10"></div>
    </div>
  </div>
</div>
<div id="spectrumWrapper"> 

    <div id="stapleWrapper">
    <div id="sp_1">
    </div>
  </div>
    <div id="stapleWrapper">
    <div id="sp_2">
    </div>
  </div>
    <div id="stapleWrapper">
    <div id="sp_3">
    </div>
  </div>
    <div id="stapleWrapper">
    <div id="sp_4">
    </div>
  </div>
    <div id="stapleWrapper">
    <div id="sp_5">
    </div>
  </div>
    <div id="stapleWrapper">
    <div id="sp_6">
    </div>
  </div>
    <div id="stapleWrapper">
    <div id="sp_7">
    </div>
  </div>
    <div id="stapleWrapper">
    <div id="sp_8">
    </div>
  </div>
    <div id="stapleWrapper">
    <div id="sp_9">
    </div>
  </div>
    <div id="stapleWrapper">
    <div id="sp_10">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_11">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_12">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_13">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_14">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_15">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_16">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_17">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_18">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_19">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_20">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_21">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_22">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_23">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_24">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_25">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_26">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_27">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_28">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_29">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_30">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_31">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_32">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_33">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_34">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_35">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_36">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_37">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_38">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_39">
    </div>
    </div>
    <div id="stapleWrapper">
    <div id="sp_40">
    </div>
    </div>

</div>

